

$app-background: #ececf3;
$white: #ffffff;
$black: #090a14;

$primaryTextColor: #6a696d;
$secondaryTextColor: #9c9b9e;

$primaryBlue: #433582;
$primaryChart: #f8c9a3;
$primaryChart-120: #fda65a;

$successColor: #07bc0c;
$infoColor: #3498db;
$errorColor: #e74c3c;
$warningColor: #f1c40f;

$border-color: #d7dee8;
$stroke-color: #9faaae;
